<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <style>-->
<!--        body{-->
<!--	margin: 0;-->
<!--	padding: 0;-->
<!--	background: #DDD;-->
<!--	font-size: 16px;-->
<!--	color#222;-->
<!--	font-family: "Roboto",sans-serif;-->

<!--}-->
<!--#login-box{-->
<!--	position: relative;-->
<!--	margin: 5% auto;-->
<!--	width: 600px;-->
<!--	height: 400px;-->
<!--	background: #FFF;-->
<!--	border-radius: 2px;-->
<!--	box-shadow: 0 2px 4px rgba(0,0.0,0.4);-->

<!--}-->
<!--.left{-->
<!--	position: absolute;-->
<!--	top: 0;-->
<!--	left: 0;-->
<!--	box-sizing: border-box;-->
<!--	padding: 40px;-->
<!--	width: 300px;-->
<!--	height: 400px;-->

<!--}-->
<!--h1{-->
<!--	margin: 0 0 20px 0;-->
<!--	font-size:28px;-->
<!--	font-weight: 300;-->
<!--}-->
<!--input[type="text"],-->
<!--input[type="password"]{-->
<!--	display: block;-->
<!--	box-sizing: border-box;-->
<!--	margin-bottom: 20px;-->
<!--	padding: 4px;-->
<!--	width: 220px;-->
<!--	height: 32px-->
<!--	border:none;-->
<!--	border-bottom: 1px solid #AAA;-->
<!--	font-family: 'Roboto',sans-serif;-->
<!--	font-size: 15px;-->
<!--	transition: 0.2s ease;-->

<!--}-->
<!--input[type="submit"]{-->
<!--	margin-top: 28px;-->
<!--	width: 120px;-->
<!--	height:32px;-->
<!--	background: #16a085;-->
<!--	border:none;-->
<!--	border-radius: 2px;-->
<!--	color: #FFF;-->
<!--	font-family: 'Roboto',sans-serif;-->
<!--	font-weight: 500px;-->
<!--	text-transform: uppercase;-->
<!--	transition: 0.1s ease;-->
<!--	cursor: pointer;-->

<!--}-->
<!--input[type="submit"]:hover,-->
<!--input[type="submit"]:focus;{-->
<!--	opacity:0.8;-->
<!--	box-shadow: 0 2px 4px rgba(0,0,0,0.4);-->
<!--    transition: 0.1s ease;-->

<!--}-->

<!--input[type="submit"]:active{-->
<!--	opacity: 1;-->
<!--	box-shadow: 0 1px 2px rgba(0,0,0,0.4);-->
<!--	transition: 0.1s ease;-->

<!--}-->
<!--.or {-->
<!--	position: absolute;-->
<!--	top:180px;-->
<!--	left: 280px-->
<!--	width:40px;-->
<!--	height: 40px;-->
<!--	background:#DDD;-->
<!--	border-radius: 50%;-->
<!--	box-shadow: 0 2 px 4px rgba(0,0,0,0.4);-->
<!--	line-height: 40px;-->
<!--	text-align: center;-->

<!--}-->

<!--.right{-->
<!--	position: absolute;-->
<!--	top: 0;-->
<!--	right: 0;-->
<!--	box-sizing: border-box;-->
<!--	padding: 40px;-->
<!--	width: 300px;-->
<!--	height: 400px;-->
<!--	background:-->
<!--	background-size:cover;-->
<!--	background-position: center;-->
<!--	border-radius: 0 2px 2px 0;-->

<!--}-->
<!--.right.loginwith{-->
<!--	display: block;-->
<!--	margin-bottom: 40px;-->
<!--	font-size: 28px;-->
<!--	color: #FFF;-->
<!--	text-align: center;-->
<!--}-->
<!--button.social-singin{-->
<!--	margin-bottom: 20px;-->
<!--	width: 220px;-->
<!--	height: 36px;-->
<!--	border: none;-->
<!--	border-radius: 2px;-->
<!--	color: #FFF;-->
<!--	font-family:'Roboto',sans-serif;-->
<!--	font-weight: 500;-->
<!--	transition: 0.2s ease;-->
<!--	cursor: pointer;-->

<!--}-->

<!--button.social-signin:hover,button.social-signin:focus{-->
<!--	box-shadow: 0 2px 4px rgba(0,0,0,0.4);-->
<!--	transition: 0.2s ease;-->

<!--}-->
<!--button.social-signin:active{-->
<!--	box-shadow: 0 2px 4px rgba(0,0,0,0.4);-->
<!--	transition: 0.2s ease;-->

<!--}-->

<!--button.social-signin.facebook{-->
<!--	background: #3250E;-->

<!--}-->
<!--button.social-signin.twitter{-->
<!--	background: #55AC;-->

<!--}-->

<!--button.social-singin.google{-->
<!--	background: #DD4B39;-->
<!--}-->
<!--    </style>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<div id="login-box">-->
<!--    <div class="left">-->
<!--        <h1>Sign Up</h1>-->
<!--        <form method="post" action="" autocomplete="off">-->
<!--            {%csrf_token %}-->
<!--             {{form.as_p}}-->
<!--            <input type="text" name="username" autocomplete="off" placeholder="Username">-->
<!--            <input type="text" name="email" autocomplete="off" placeholder="Email"/>-->
<!--            <input type="password" name="password1" autocomplete="off" placeholder="password"/>-->
<!--            <input type="password" name="password2" placeholder="rewritten password"/>-->
<!--            <input type="submit" name="sign-me-up"/>-->

<!--             <button class="social-signin facebook" >-->
<!--                 <a href="{% url 'login' %}">Login</a>-->
<!--             </button>-->

<!--        </form>-->
<!--        <div>-->
<!--            {% for message in messages %}-->
<!--              <h3>{{message}}</h3>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="right">-->
<!--        <span class="loginwith">Sign in with<br/>social network</span>-->
<!--        <button class="social-signin facebook">log in with facebook</button>-->
<!--        <button class="social-singin twitter">log in with twitter</button>-->
<!--        <button class="social-singin google">log in with google</button>-->
<!--    </div>-->
<!--    <div class="or">OR</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="./three.css"></script>
<body>

<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

<!--              <form id="myForm" onsubmit="validatePassword(event)">-->
                <form method="post" action="" autocomplete="off" id="myForm" onsubmit="validatePassword(event)">
            {%csrf_token %}
             {{form.as_p}}
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" name="username" class="form-control form-control-lg" required/>
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" name="email" autocomplete="off" placeholder="Email" class="form-control form-control-lg" required />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" name="password1" autocomplete="off" placeholder="password" class="form-control form-control-lg" minlength="8" required />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg"  name="password2" placeholder="rewritten password" class="form-control form-control-lg" minlength="8" required />
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>
                        {% for message in messages %}
              <h3>{{message}}</h3>
          {% endfor %}
                   <button class="social-signin facebook" >
                       <a href="{% url 'login' %}">Login</a>
           </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="./register.js"></script>
</body>
</html>

